body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.header {
  background-color: white;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #000000;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  margin: 5px 5px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
  cursor: pointer;
}

.button-2 {
  background-color: #2f7c2e;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  margin: 5px 5px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
  cursor: pointer;
}

.button:hover {
  background-color: #424242;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.bar {
  width: 10px;
  background-color: rgb(98, 98, 98);
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: top;
}

.github-link {
  position: fixed;
  top: 20px;
  right: 20px;
}

.github-icon {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}
